<!doctype html>
<html>
<head>

<title>Idealist</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='theme.blue.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jrun.js') }}"></script>
</head>
<body>
<script>
document.write(" ------------------------------------<br>"); // SO THE FOLLOWING doesn't work from ext .js file
document.write("listobject['two']=" + listobject['two'] + "<br>");
document.write("listobject['four']=" + listobject['four'] + "<br>");
/*
var list = ['one', 'two', 'three', 'four', 'five']
for (var i=0; i<list.length; i++)
{ 
document.write(list[i] + "<br>");
}
*/
</script>
<br> 
<h1>TEST: Iterating data structure from jrun.js file (listobject)</h1>
<script>
document.write("<p>OK, lets iterate <b>listobject</b></p>");
for (var d in listobject) {
	document.write(listobject[d] + "<br>");
}
</script>
<br>
{% if listdata %}

<h1>TEST: Argument passing test</h1>
lisdata = {{ listdata }}<br>
{% for i in range(1,4) %} 
<p>Count: {{i}} says: <b> {{ listdata[i] }} </b> got listdata from myapp.py</p>
{% endfor %}
{% else %}
<h2>listdata == None</h2>
{% endif %}
============

<script id='js'>
$(function() {

  // call the tablesorter plugin
  $("table").tablesorter({
    theme : 'blue',

    // sort on the first column and third column in ascending order
    sortList: [[0,0],[2,0]]
  });

});

</script>




<h1>Sortable Table</h1>

<table class="tablesorter">
  <thead>
    <tr>
      <th>name</th>
      <th>desc</th>
      <th>one</th>
      <th>two</th>
      <th>three</th>
      <th>four</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>28</td>
      <td>$9.99</td>
      <td>20%</td>
      <td>Jul 6, 2006 8:14 AM</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Hood</td>
      <td>33</td>
      <td>$19.99</td>
      <td>25%</td>
      <td>Dec 10, 2002 5:14 AM</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Evans</td>
      <td>22</td>
      <td>$13.19</td>
      <td>11%</td>
      <td>Jan 18, 2007 9:12 AM</td>
    </tr>
  </tbody>
</table>


</body>
</html>
