<!doctype html>
<html>
<head>

<title>Idealist</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='theme.blue.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jrun.js') }}"></script>
</head>
<body>
<script>
document.write(" ------------------------------------<br>"); // SO THE FOLLOWING doesn't work from ext .js file
document.write("listobject2['two']=" + listobject2['two'] + "<br>");
document.write("listobject2['four']=" + listobject2['four'] + "<br>");
/*
var list = ['one', 'two', 'three', 'four', 'five']
for (var i=0; i<list.length; i++)
{ 
document.write(list[i] + "<br>");
}
*/
</script>
<br>   
<h1>1 TEST: Iterating data structure from jrun.js file (listobject2)</h1>
<script>
document.write("<p>2 OK, lets iterate <b>listobject2 </b></p>" +listobject2);
for (var d in listobject2) {
	document.write("3 " + listobject2[d] + "<br>");
}
</script> 
<br>
{% if listdata %}

<h1>TEST: Argument passing test</h1>
lisdata = {{ listdata }}<br>
{% for i in range(1,4) %} 
<p>Count: {{i}} says: <b> {{ listdata[i] }} </b> got listdata from myapp.py</p>
{% endfor %}
{% else %}
<h2>listdata == None</h2>
{% endif %}
============

<script id='js'>
$(function() {

  // call the tablesorter plugin
  $("table").tablesorter({
    theme : 'blue',

    // sort on the first column and third column in ascending order
    sortList: [[0,0],[2,0]]
  });

});

</script>




<h1>Sortable Table</h1>
<!--
<table class="tablesorter">
  <thead>
    <tr>
      <th>name</th>
      <th>desc</th>
      <th>one</th>
      <th>two</th>
      <th>three</th>
      <th>four</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Peter</td>
      <td>Parker</td>
      <td>28</td>
      <td>$9.99</td>
      <td>20%</td>
      <td>Jul 6, 2006 8:14 AM</td>
    </tr>
    <tr>
      <td>John</td>
      <td>Hood</td>
      <td>33</td>
      <td>$19.99</td>
      <td>25%</td>
      <td>Dec 10, 2002 5:14 AM</td>
    </tr>
    <tr>
      <td>Bruce</td>
      <td>Evans</td>
      <td>22</td>
      <td>$13.19</td>
      <td>11%</td>
      <td>Jan 18, 2007 9:12 AM</td>
    </tr>
  </tbody>
</table>

-->

<table class="tablesorter">
  <thead>
<tr>
<td>name</td>
<td>desc</td>
<td>category</td>
<td>link</td>
<td>enterprise</td>
<td>passion</td>
<td>recurring_rev</td>
<td>tech_risk</td>
<td>scalability</td>
<td>phased</td>
<td>sales_density</td>
<td>big_potential</td>
</tr>
</thead>
<tbody>
<tr>
<td>McRun App</td>
<td>"A running calculator</td>
<td> I developed in conjunction with my brother</td>
<td> Peter Abraham</td>
<td> and McMillan Running. Adding geolocation and upload to a google map with color coded location marks such that runners could see if runners that run similar: fast vs. slow</td>
<td> long vs. short distance."</td>
<td>Existing Apps</td>
<td></td>
<td>n</td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>SYOD (Secure Your Own Device) App</td>
<td>"A best practices security app</td>
<td> I developed at Redspin. The security app parked at Redspin</td>
<td> could be evolved to support various features such as training</td>
<td> phishing</td>
<td> security policy acceptance/update. Mobile security push notifications (phishing</td>
<td> training). This could also evolve</td>
<td> or maybe that would be a unique app</td>
<td> into a scanner to scan for insecurities on your phone."</td>
<td>Existing Apps</td>
<td></td>
<td>y</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Omulator App</td>
<td>"A meditation timer that graphs the audio output of your AUMs. Add additional sensors (body temp</td>
<td> HR</td>
<td> other biorythmish data that could be correlated with your AUMs). Perhaps leverage the KORE sensor from Kickstarter."</td>
<td>Existing Apps</td>
<td></td>
<td>n</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>App + Remote control power strip</td>
<td>"Could be used as a timer or to control access to anything with power. App could be configured with a timer</td>
<td> points system</td>
<td> or tied into other scoring APIs or websites. Also</td>
<td> when tied into a web app</td>
<td> multiple people could vote to turn on the power."</td>
<td>App + Physical</td>
<td></td>
<td>n</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Exercise to earn credits to watch TV</td>
<td>"How about arduino controller for power</td>
<td> then app. so you earn power based on app</td>
<td> then use the app to buy credits. This is essentially a business model wrapped around the previous concept</td>
<td> and is more fully described here. "</td>
<td>App + Physical</td>
<td></td>
<td>n</td>
<td>7</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Remote control pad lock</td>
<td>"App controls the opening of the lock. Could be opened remotely. Even if one did not own the lock</td>
<td> they could connect to it (Bluetooth) and then relay the lock control to someone who has control over it. Also</td>
<td> multiple votes could be used such that a lock could only be opened if multiple people approved."</td>
<td>App + Physical</td>
<td></td>
<td>n</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Crowdsourced pentesting</td>
<td>Moderated group of pentesters. There is a huge body of talent out there that could really help identify risk.</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Large scale port scan</td>
<td>"I am not sure how big the market is for this</td>
<td> but some of the team at Redspin developed some creative and effective approaches to for some mega network audits that required a creative approach</td>
<td> triage and a boatload of virtual cloud scanner instances to address big network vulnerability scans. The challenge is to quickly isolate areas of critical risk and eliminate false positive. This approach might become more mainstream with IPv6."</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Single application vulnerability scanners</td>
<td>"Many IT functions exist in a silo</td>
<td> so there is an opportunity to market a point solution that scans security risk for a single application that can be marketed directly to that community. ASafaWeb is an example."</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>iOS profile checker</td>
<td>A web application to evaluate iOS profils. This would basically benchmark your security policy to best practices. Similar in spirit to MBSA.</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Mobile proxy</td>
<td>Anonymous proxy for you mobile device.</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Crowdsourced secure app list</td>
<td>Leverage chains of trust and the public to vote for and vouch for mobile apps to develop a blacklist and/or whitelist of apps that are coded and behave securely.</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Binary security analysis of mobile apps</td>
<td>"I would imagine that someone is working on this already. One issue with widespread usage for apps would be how to handle encrypted binaries. However</td>
<td> this is a big problem</td>
<td> probably worth solving. "</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Hack lab</td>
<td>Interactive security training.</td>
<td>Security</td>
<td></td>
<td>y</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Security game</td>
<td>"Used for security awareness training of employees. Employees represent perhaps the biggest area of security risk. One problem with security awareness training is that is starts to look like a slide deck or web presentation</td>
<td> with a follow-up quiz. Employees can do this mindlessly and often learn nothing. An approach that actually lead to security awareness retention would provide great security value."</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Phishing mobile app</td>
<td>"My existing app</td>
<td> SYOD</td>
<td> could perhaps evolve into this. The idea is to use the installed app as a platform to send phishing emails and messages to the device for training purposes."</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>BYOD Tracking</td>
<td>"Probably a bad idea from an employee perception standpoint</td>
<td> but web proxies are doing this now. The implementation could be with an app on the phone or perhaps with a gateway on the corporate network. The later is already happening."</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Micro audit</td>
<td>"Real-time micro sensor (atomic</td>
<td> one issue at a time) to measure/metrics around key areas of security: social eng</td>
<td> patching</td>
<td> % encrypted devices</td>
<td> ports open / total IPs</td>
<td> virus signatures up to date</td>
<td> etc. Use open source sensors</td>
<td> such as ossec."</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Port security tools to mobile</td>
<td>"There are a myriad of security tools</td>
<td> some of which could still be ported to mobile."</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Trust network meets social</td>
<td>Chains-of-trust for companies. yelp for security.</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Directional WiFi mobile scanner</td>
<td>Turn your mobile phone into a WiFi directional scanner using hardware in a headphone jack antenna. The idea is to easily detect the location of rogue access points (APs).</td>
<td>Security</td>
<td></td>
<td>y</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>MSSP (Managed Security Service Provider) for Things</td>
<td>"A popular way to handle enterprise security</td>
<td> particularly for small and mid-sized organizations is the have a service provider manage security. In this model</td>
<td> the MSSP company may provide the company and Internet connection. Then</td>
<td> based on their physical presence on the network link to the Internet</td>
<td> the MSSP could implement services such as email spam/malware filtering</td>
<td> web proxy</td>
<td> firewall services</td>
<td> etc. The Internet of Things version of this would use a single web service as the central link for all of these ""things"" and then manage the things via a web interface. Ultimately</td>
<td> though</td>
<td> the network of things would need to be secured (physically secured and segregated from the Internet)."</td>
<td>Security + IoT</td>
<td></td>
<td>y</td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Industrial Control System database of hash signatures for software</td>
<td>"the idea is to detect changes to firmware and ensure system integrity. Sort of a tripwire for firmware. Or for those familiar with gaming and slot machine environment</td>
<td> this is analogous to the Kobetron chip verification device."</td>
<td>Security + IoT</td>
<td></td>
<td>y</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Bluetooth army</td>
<td>"Mobile app scans for Bluetooth devices and logs to cosm (geo</td>
<td> stats</td>
<td> security</td>
<td> etc). Mostly I envision this as a research app to gain data and insight into the extent that your mobile device finds Bluetooth devices as you go about your daily activity."</td>
<td>IoT</td>
<td></td>
<td>n</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Concentrator box for things</td>
<td>"Box to aggregate bluetooth devices and connect them to local internet. Bluetooth is cheap</td>
<td> fairly low energy and will likely evolve to be widely used in home automation. The problem is that your Bluetooth devices need to connect to another device that is connected to the Internet in order to have wider connectivity. A mobile app could achieve this</td>
<td> but for full-time connectivity</td>
<td> you'd need a dedicated box that sits on your home internet connection. This could be an Android OS without a phone. or a rasberry pi in a good enclosure."</td>
<td>IoT</td>
<td></td>
<td></td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Secure remote access for bluetooth</td>
<td>Gotomypc for bluetooth.</td>
<td>IoT</td>
<td></td>
<td>y</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Ad platform for Internet of Things</td>
<td>"This is just a brainstorm idea</td>
<td> without any functional use case."</td>
<td>IoT</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Generic device controller</td>
<td>App as generic device controller for the myriad of smart devices coming on line. There will be a proliferation problem - how many apps for how many devices do you want to own. Also one app controls another app/phone.</td>
<td>IoT</td>
<td></td>
<td>n</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Remote control camera app</td>
<td>"A way to take pictures when your camera is at a distance. This has various applications</td>
<td> such as for taking art photography where camera is mounted on high tripod or ceiling mount. Or if you want to take a picture of lightning and need a way to sense the lightning and click the shutter. I cannot believe that all camera manufacturers don't already have this</td>
<td> but I presume its on its way. "</td>
<td>IoT</td>
<td></td>
<td>n</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Web hub for mobile device sensors</td>
<td>"This would be a website with an API that could be programmed with a web interface (think IFTTT.com) that would allow any individual to connect data collected via their mobile device to a web site (think cosm.com) that would enable tracking</td>
<td> graphing</td>
<td> data logging</td>
<td> GPS mapping</td>
<td> etc. This would be something I could use right now for McRun and this would also be an application for the Nike+ accelerator program</td>
<td> as customer modules could be developed to quickly web-enable Nike+ apps."</td>
<td>IoT</td>
<td></td>
<td></td>
<td>7</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Faraday clothing for electric sensitivity</td>
<td>"OK so call me paranoid</td>
<td> but I do have a distrust of wireless radiation and its health impact. When UV radiation was a new threat new apparel  upstarts marketed products with enhanced sunscreening capabilities. My feeling is that awareness of wireless network radiation risk will increase along with the demand for protective garments."</td>
<td>Network-RF-Tracking</td>
<td></td>
<td>n</td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>RF Scanning App</td>
<td>"The Oscium spectrum analyzer is something that is on the way to achieving that</td>
<td> for an albeit technical audience."</td>
<td>Network-RF-Tracking</td>
<td></td>
<td>n</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>RFID-ish easter eggs</td>
<td>"Tagging devices for retail stores. find in store</td>
<td> then you get a prize."</td>
<td>Network-RF-Tracking</td>
<td></td>
<td>y</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Railroad Tracker</td>
<td>"Wouldn’t it be nice to know what train is where? (well maybe not) But it would be interesting to have some insight as to the cargo and volumes heading between major nodes. And actually</td>
<td> I think it would be fun to see where trains are. From a pure tracking perspective</td>
<td> MarineTraffic.com is analogous to the thinking here."</td>
<td>Network-RF-Tracking</td>
<td></td>
<td>n</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>The Chip</td>
<td>"Sensor for tracking kids</td>
<td> luggage</td>
<td> pets</td>
<td> laptops</td>
<td> cars</td>
<td> bikes</td>
<td> boats</td>
<td> employees</td>
<td> fleets</td>
<td> biker racers</td>
<td> theft bait (a physical honeypot). The sensor could use different communication technology</td>
<td> depending on the use case: satellite</td>
<td> cellular</td>
<td> WiFi</td>
<td> Bluetooth</td>
<td> RFID. All this is already probably on the way and will be a function of the hardware cost of the sensors</td>
<td> which is on the way down. Check out FedEx SenseAware for their shipment tracking implementation. "</td>
<td>Network-RF-Tracking</td>
<td></td>
<td>n</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Mobile Tracking and Deployment Platform</td>
<td>"Make it easy to deploy custom tracking solutions. This could include a wireless chipset</td>
<td> GPS</td>
<td> API</td>
<td> middleware along with a message or usage-based subscription plan. "</td>
<td>Network-RF-Tracking</td>
<td></td>
<td>y</td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>How could you use Google Earth to find something?</td>
<td>"More of a problem to solve than a business strategy</td>
<td> but answering this question could yield some interesting applications."</td>
<td>Network-RF-Tracking</td>
<td></td>
<td>y</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>RFID Checksum / Signature</td>
<td>"This would create a database of RFID item numbers</td>
<td> associated with devices</td>
<td> that would allow the positive identification of devices using RFID. These mini-devices would be able to be embedded into other devices which would verify their authenticity."</td>
<td>Network-RF-Tracking</td>
<td></td>
<td>y</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Street skating app</td>
<td>"App to share locations</td>
<td> meetup and share exploits. Strava for street skaters."</td>
<td>Fitness & Sports</td>
<td></td>
<td>n</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Grudge match</td>
<td>"1 on 1 challenges for charity implemented as either a mobile app or web application. I am not sure of the practicality of this and it might exist already. I grew up skiing competitively and we had grudge matches at contests so I see this as a sport challenge</td>
<td> but really it could be anything - Whoever grows the biggest tomato plant by fall</td>
<td> donates $100 to charity."</td>
<td>Fitness & Sports</td>
<td></td>
<td>n</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>The Pro-Bike Rider's Doper Assistant</td>
<td>"Basically</td>
<td> this is a humorous app targeting pro bike racers in Europe that want to manage their use of performance enhancing drugs. This app would really just be for fun and would implement the steps defined by Daniel Coyle in his book Lance Armstrong's War that riders use to avoid the doping authorities. This would include timers and blackout period for the use of various drugs and a group messaging app</td>
<td> so when the authorities show up at the door of one racer</td>
<td> that racer can quickly warn the rest of the riders."</td>
<td>Fitness & Sports</td>
<td></td>
<td>n</td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Avalanche Risk Assessment App</td>
<td>"This would implement a quick set of questions to help determine avalanche risk for back-country skiers and alpinists. If you've ever stared down at 1000 vertical feet of untracked powder with a group of other skiers</td>
<td> you know that group think tends to summarize the risk as ""looks like it's stable</td>
<td> let's make some turns."" This app would objectify the analysis. This might be another dichotomous key implementation."</td>
<td>Fitness & Sports</td>
<td></td>
<td>n</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Avalanche Balloon Tether</td>
<td>"Perhaps this is obvious - or proven to not work:) - but why can't you ski with a balloon tethered on a 10-20 foot cord</td>
<td> so in event of being covered by an avalanche</td>
<td> the balloon would float in the air above you."</td>
<td>Fitness & Sports</td>
<td></td>
<td>n</td>
<td>3</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Personal Buoy</td>
<td>"This is a buoy deployed in the ocean that is anywhere the size of a baseball to a basketball. The buoy could be deployed with various sensors: temperature</td>
<td> swell period</td>
<td> visibility</td>
<td> fish</td>
<td> drug smugglers</td>
<td> oil spills</td>
<td> lobster trap monitoring</td>
<td> etc."</td>
<td>Fitness & Sports</td>
<td></td>
<td>n</td>
<td>7</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Business Idea Portal</td>
<td>"Basically</td>
<td> I am thinking of this list</td>
<td> but implemented as a database</td>
<td> so users could add their own ideas</td>
<td> vote on ideas</td>
<td> add comments and also link ideas to existing companies that already have technology that could be quickly transferred into a given product or market opportunity."</td>
<td>Business</td>
<td></td>
<td></td>
<td>7</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Meeting clock</td>
<td>"So my friend Joe and I have been talking about this for 10+ years now. There are some meeting timers in existence now</td>
<td> but this would leverage the voice capability of mobile devices to track who did how much talking. The idea is to make everyone aware of how much they are dominating the meeting</td>
<td> costing the company and participating."</td>
<td>Business</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Fisherman market maker</td>
<td>Market making app to help fishermen get the best price for their catch. The problem is that the fishermen unload fish at dock and there is often limited opportunity to find the best price/market for the fish. Inspiration can be found in Open Ocean Trading and South Shore Seafood Exchange.</td>
<td>Business</td>
<td></td>
<td>y</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Location Scout Directory</td>
<td>"This is a database of facilities that are available for film locations. However</td>
<td> this is supply-side driven so that private individuals and other organizations that have locations available can upload their location</td>
<td> rental price</td>
<td> pictures</td>
<td> etc. Think of VRBO or AIRBNB for locations."</td>
<td>Business</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Team dispatch</td>
<td>Group messaging (group text & walkie-talkie)</td>
<td>Business</td>
<td></td>
<td>y</td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Crowdsourced stock footage aggregator</td>
<td>"This would implement technology to acquire stock footage from cameramen for resale as stock footage. Because stock footage can be shot any time</td>
<td> such as when a cameraman is already on location for another shoot</td>
<td> this could provide features such as communicating with cameramen</td>
<td> scheduling</td>
<td> sharing revenue</td>
<td> accounting</td>
<td> etc."</td>
<td>Business</td>
<td></td>
<td>y</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Lease-option database</td>
<td>Market for lease-option opportunities in real estate.</td>
<td>Business</td>
<td></td>
<td>n</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>data.gov</td>
<td>Apps based on open source gov data. Lots of great data is being made available by the federal government. Freedata.com is another resource.</td>
<td>Business</td>
<td></td>
<td>n</td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Groundwater depletion & data</td>
<td>Using data from satellite Grace ideas from Dr. famiglietti.</td>
<td>Business</td>
<td></td>
<td></td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Cookie share</td>
<td>"Submit your info</td>
<td> get paid (rather than some other company making money off it). Many ideas around this are already floating around out there."</td>
<td>Business</td>
<td></td>
<td>n</td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Who lives there</td>
<td>"I am often intrigued by the individual stories I hear about people and there lives. Sometimes when I see a house</td>
<td> I wonder ""who lives there.... and what is their story?"" I envision a picture of a house</td>
<td> and a single paragraph story about people that are shown on a map."</td>
<td>Business</td>
<td></td>
<td>n</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>How green is my product</td>
<td>"Mobile app that can scan a product bar code (or logo?) to determine if the product is green</td>
<td> perhaps GMO free. Output would be logo and scale 1-10. The calculation might require some insight into supply chain."</td>
<td>Environment & Clean Energy</td>
<td></td>
<td>n</td>
<td>7</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Personal WiFi/Cellular/EMF Meter</td>
<td>"As people become aware of EMF radiation dangers</td>
<td>  more people may care to quantify their exposure: do you live/sleep in direct line of sight to a nearby cell tower? Is there a lot of WiFi energy in your home or office? This would be an App (perhaps with an antenna) or perhaps a dedicated device. "</td>
<td>Environment & Clean Energy</td>
<td></td>
<td>n</td>
<td>7</td>
<td>7</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Measuring power line sag to determine line load</td>
<td>"Power lines sag based on temperature and load. With camera monitors on the physical wires</td>
<td> temperature and an algorithm</td>
<td> you could estimate load on the wires. This data could be sold to financial firms</td>
<td> regulatory agencies and others that are interested in estimating load on the power grid."</td>
<td>Environment & Clean Energy</td>
<td></td>
<td>y</td>
<td>7</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Brainstorm app</td>
<td>"App in which you document keywords and the app provides related pictures</td>
<td> associations and questions to help determine other ideas."</td>
<td>Miscellaneous</td>
<td></td>
<td>n</td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Dichotomous key</td>
<td>"Any subject that has been documented with a dichotomous key could be effectively implemented in an app: trees</td>
<td> birds</td>
<td> hunting</td>
<td> fish</td>
<td> sharks</td>
<td> security threaths</td>
<td> security training..."</td>
<td>Miscellaneous</td>
<td></td>
<td></td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Michael Polen app</td>
<td>I am a big Michael Pollen fan 0 turn his Food Rules book into an app. Its a great quick reference book that would translate well into an app.</td>
<td>Miscellaneous</td>
<td></td>
<td>n</td>
<td>4</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Graffiti Grapher</td>
<td>"App to take a picture of graffiti</td>
<td> log coordinates</td>
<td> upload to a map and try to trend incidents. Goal to reduce graffiti and catch culprits"</td>
<td>Miscellaneous</td>
<td></td>
<td>n</td>
<td>6</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>College finder</td>
<td>Help high school kids find a college.</td>
<td>Miscellaneous</td>
<td></td>
<td>n</td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>School donation by class meter</td>
<td>Mobile app or embedded web widget. More people will donate if motivated by a public notice that shows the percentage and amount of class participation.</td>
<td>Miscellaneous</td>
<td></td>
<td></td>
<td>5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Remote camera monitor</td>
<td>"Micro camera that can be viewed via app for quick scan of</td>
<td> for example</td>
<td> who is at front door."</td>
<td>Miscellaneous</td>
<td></td>
<td>n</td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Health Insurance Card App</td>
<td>"Really just a micro app that would solve a tiny problem. My issue is that when I go to the doctor</td>
<td> I need to produce an insurance card</td>
<td> which i never have. With 3 kids</td>
<td> I find myself looking for my insurance info periodically. I solved this problem by scanning my insurance card and mailing it to myself. Really</td>
<td> I'd like an app that would allow me to take a picture of both sides of my card and then put them together in a single image. When I open the app</td>
<td> the card shows and allows me to mail it or otherwise send it to the provider if necessary. Downside: solves a tiny problem. Upside: easy to implement. Another related feature would be to calculate the amount of your annual deductible that you have used to date."</td>
<td>Miscellaneous</td>
<td></td>
<td>n</td>
<td>1</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Tip Jar Voting App</td>
<td>Mobile app to allow you to vote for who gets your tip. Don't you hate it when the service is bad at a restaurant of coffee shop. but you see someone in the back really working hard. Wouldn't it be great to be able to direct your tip to them.</td>
<td>Miscellaneous</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Automobile Holographic Bumper Guard</td>
<td>"Ever wonder how close you are to another car when you are parking your car. The audio beeps on many bumpers help</td>
<td> but sometimes it's great to have a visual."</td>
<td>Miscellaneous</td>
<td></td>
<td>y</td>
<td>2</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
  </tbody>
</table>


</body>
</html>
