{% extends "base.html" %}

{% set active_page = "Home" %}

{% block head %}

{% endblock %}


{% block content %}

<div class="container">

	      <!-- Main box at top -->
	      <div class="hero-unit">
	        <h1>CrowdSec</h1>
	        <p>Crowdsourced security. Mitigate your risk by leveraging your team to help identify security risk in your organization. Minimize enterprise security risk by building a community of aware and informed employees</p>
	        <p><a href="#" class="btn btn-primary btn-large">Free Trial &raquo;</a></p>
	      </div>

	      <!-- Example row with one colloum / JA -->
	      <div class="row">
	        <div class="span12">
	          <h1>How it works</h1>
	          <p>Just sign up and allow employees at your organization log security issues that they notice. </p>
	          <p><a class="btn" href="/log.html">Try logging an issue &raquo;</a></p>
	        </div>
	      </div>

	<hr>

	      <!-- Example row of columns -->
	      <div class="row">
	        <div class="span4">
	          <h2>See a something</h2>
	          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem . </p>

	        </div>
	        <div class="span4">
	          <h2>Report it to CrowdSec</h2>
	          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit ame mollis euismod. Donec sed odio dui. </p>
	       </div>
	        <div class="span4">
	          <h2>Win a prize</h2>
	          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, telrtor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	        </div>
	      </div>

	      <hr>

	<a href="log.html">Submit and issue</a>



</div>

{% endblock %}

<!-- Add any script or additional includes that are specific to this page -->
{% block endincludes %}

{% endblock %}