{% extends "base.html" %}

{% set active_page = "log" %}

{% block head %}
    <script type="text/javascript">
		$(function () {
		    // do stuff after DOM has loaded
			$('.dp3').datepicker()
		});
	
		$(document).ready(function() {
		    $('.dp3').datepicker()
		});
	</script>
{% endblock %}


{% block content %}

<div class="container">

<!-- ///////////////  FORM  //////////////// -->
	<form class="form-horizontal">
		<fieldset>
			<legend>Issue Submittal Form</legend>
		
			<!-- //// RADIO //// -->       
			<div class="control-group">
				<label class="control-label" for="optionsRadios1">User Name</label>
				<div class="controls">
					<label class="radio inline">
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						Anonymous
					</label>
					<label class="radio inline">
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						Fred
					</label>
				</div>
			</div>	

			<!-- //// datepicker //// -->

			<div class="control-group">
				<label class="control-label" for="dp3">Date</label>	
				<div class="controls">		
					<div class="input-append date" id="dp3" data-date="03-01-2013" data-date-format="mm-dd-yyyy">
						<input class="span2" size="16" type="text" value="03-01-2013" readonly>
						<span class="add-on"><i class="icon-th"></i></span>
					</div>
				</div>			
			</div>
			
			<!-- //// dddddd //// --> 	
			<div class="control-group">
				<label class="control-label" for="select01">Select Category</label>
				<div class="controls">
					<select id="select01">
						<option>select</option>
						{% for item in listdata %} 
						<option> {{ item }}</option>
						{% endfor %}
					</select>
					<p class="help-block">Select the category that describes the issue, or other if none are relevant.</p>
				</div>
			</div> 
		        
			<!-- //// dddddd //// --> 
			<div class="control-group">
				<label class="control-label" for="textarea">Description</label>
				<div class="controls">
					<textarea class="input-xxlarge" id="textarea" rows="10"></textarea>
					<p class="help-block">Describe the issue in 1-3 sentences.</p>
				</div>
			</div>
		
			<!-- //// dddddd //// -->
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Save changes</button>
				<button class="btn">Cancel</button>
			</div>
		</fieldset>
	</form>
	
</div>	
{% endblock %}

<!-- Add any script or additional includes that are specific to this page -->
{% block endincludes %}
<script>
		$(function(){
			var nowTemp = new Date();
			var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

			var checkin = $('#dp3').datepicker({
			  onRender: function(date) {
			    return date.valueOf() < now.valueOf() ? 'disabled' : '';
			  }
			}).on('changeDate', function(ev) {
			  if (ev.date.valueOf() > checkout.date.valueOf()) {
			    var newDate = new Date(ev.date)
			    newDate.setDate(newDate.getDate() + 1);
			    checkout.setValue(newDate);
			  }
			  checkin.hide();
			  $('#dp3')[0].focus();
			}).data('datepicker');
			var checkout = $('#dp3').datepicker({
			  onRender: function(date) {
			    return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
			  }
			}).on('changeDate', function(ev) {
			  checkout.hide();
			}).data('datepicker');
			});
	</script>
{% endblock %}